
.container {
	width: 70%;
	margin: auto;
}

html {
	box-sizing: border-box;

	font-family: 'Cabin', sans-serif;
	font-size: 10px;
	color: #fefefe;
}

body { 
	margin: 0;

	background-image: url("./Images/Marble-BG.jpg");
 	background-attachment: scroll; 
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
} 

h1,
p {
	margin: 0;
}

h1 {
	font-family: 'Kanit', sans-serif;
}

p {
	font-family: 'Fira Sans Condensed', sans-serif;
}

img {
	max-width: 100%;
}


/* --- Navigation Bar --- */
.burger {
	display: block;
	cursor: pointer;
}

.burger div {
	margin: 5px 0 5px 30px;
	width: 25px;
	height: 4px;

	background-color: #fefefe;
}

#logo {
	display: flex;
	justify-content: center;
	width: 100%;

	font-size: 1.75rem;
	letter-spacing: 2px;
}

/* Nav Text */
nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(76, 122, 156, 0.7);

	font-size: 1.5rem;
}

/* Slide Nav */
.slideNavLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	position: absolute;
	padding-left: 10px;
	left: 0;
	height: 75%;
	top: 52px;
	background-color: rgba(76, 122, 156, .9);

	transform: translateX(-100%);
	transition: transform 0.5s ease-in;

	z-index: 1;
}

.slideNavLinks li {
	opacity: 0;
	list-style: none;
}

.slideNavLinks a {
	text-decoration: none;
	color: #fefefe;
}

.slideNavLinks a:hover { 
	color: #d9b38c; 
}

.slideNavLinks a.active { 
	color: #e6ccb3;
}

/* Top Nav */
.topNavLinks {
	display: none;
	justify-content: flex-end;
	width: 100%;

	font-size: 1.2rem;
}

.topNavLinks li {
	list-style: none;
}

.topNavLinks a {
	transition: 0.4s;
	padding-right: 2rem;
	text-decoration: none;
	color: #fefefe;
}

.topNavLinks a:hover { 
	color: #d9b38c; 
}

a.current:visited {
	color: #e6ccb3;
}
/* --- --- */



/* ========== ========== index.html ========== ========== */
/* --- Title Section --- */
#home-parallax {  
	background-image: url("./Images/Name-BG.jpg"); 
	background-position: -85px -39px;
	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-size: auto 600px; 

	min-height: 15rem;
	margin: auto;
	padding: 7.5rem 0;

	/*border: 2px solid red;*/
}
/* --- --- */


/* --- "HI, I'M JUAN CORTES." --- */
.name-title {
	text-align: center;
}

.name-title h1 {
	font-size: 2.75rem;
}

.name-title p {
	margin-bottom: 2rem;

	font-size: 1.75rem;
}
/* --- --- */


/* --- Buttons --- */
.btn {
	transition: 0.4s;
	display: block;

	width: 50%;

	margin: auto;
	margin-bottom: 1rem;
	padding: 1rem 1.4rem;

	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	color: #fefefe;

	border: 2px solid #fefefe;
}

.btn:hover {
	background-color: #696554;
	border: 2px solid #696554;
}

.btn a:after {
	color: #fefefe;
}
/* --- --- */


/* --- Portrait and About Section --- */
.portrait-about {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	background-color: rgba(233, 228, 209, 0.7);

	text-align: justify;
	color: #262a24;
}

.portrait-about img {
	display: block;
	width: 50%;

	margin: auto;
	padding: 10vw 10vw;
}

.portrait-about h2 {
	margin-top: 0;
	margin-bottom: 1rem;

	text-align: center;
	font-size: 3rem;
	color: #fefefe;
}

.portrait-about p {
	font-size: 1.5rem;
}

/* About Box Content*/
#about-para {
	margin: auto;
	padding: 0 8vw 25vh;
}
/* --- --- */
/* ========== ========== index.html ========== ========== */



 /* ========== ========== photography.html ========== ========== */
/* --- Camera Section --- */
.cameras {
	background-image: url("./Images/Leaves-BG.jpg"); 
	background-position: -85px -39px;
	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-size: auto 600px; 

	min-height: 15rem;
	margin: auto;
	padding: 7.5rem 0;
}

/* Arrows For Camera Gallery */
#arrows-cameras {
	padding: 3.75rem 0 0 0;
}

.prev-cameras, .next-cameras {
	cursor: pointer;
	user-select: none;

	position: absolute;

	width: auto;
	padding: 1rem;

	font-weight: bold;
	font-size: 18px;
	color: white;

	border-radius: 0 3px 3px 0;

	transition: 0.6s ease;
}

.next-cameras {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev-cameras:hover, .next-cameras:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Slide Content */
.slide-cameras {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	text-align: center;
}

.slide-cameras h1 {
	font-size: 2.60rem;

	animation: fadeCamera 0.6s;
}

.slide-cameras p {
	font-size: 1.75rem;

	animation: fadeCamera 0.8s;
}

/* .slide-cameras img {
	width: 50%;
} */

/* Dots For Camera Gallery */
#dots-cameras {
	position: absolute;
	top: 33rem;
	right: 13.675rem;
	left: 13.675rem;
}

.dot-cameras {
	cursor: pointer;

	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 2px;

	background-color: #bbb;
	border-radius: 50%;
	
	transition: background-color 0.6s ease;
}

.active, .dot-cameras:hover {
	background-color: #717171;
}

/* Animations */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fadeCamera {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}
/* --- --- */

/* --- Journey Gallery --- */
.journey {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	background-color: rgba(233, 228, 209, 0.7);

	text-align: justify;
	color: #262a24;
}

.journey h2 {
	margin-bottom: 1.5rem;

	text-align: center;
	font-size: 3rem;
	color: #fefefe;
}

.journey img {
	display: block;
	width: 151.5px;
	height: 227.5px;

	border: 0;
}

#jImage {
	display: block;

	margin: auto;
	/* padding: 6vw 0vw; */
	width: 151.5px;
	height: 227.5px;

	text-decoration: none;
}

.journey figcaption {
	position: relative;
	bottom:5rem;

	text-align: center;
	font-size: 1.5rem;
	color: #fefefe;
}

.journey p {
	margin: auto;
	padding: 1vh 15vw 10vh;
	font-size: 1.5rem;
}
/* ========== ========== photography.html ========== ========== */



/* --- Footer Section --- */
footer {
	display: grid;
	padding: 3rem;

	background-color: rgba(151, 145, 125, 0.6);

	text-align: center;
	font-size: 1.5rem;
}
/* --- --- */


/* --- Navigation Bar Animation --- */
.nav-active {
	transform: translateX(0%);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(-10px);
	}
}
/* --- --- */




/* ========== ========== Media Queries (Mobile First) ========== =========== */
/* --- 375px and Above --- */
@media screen and (min-width: 375px) {
	#home-parallax {
		background-position: -75px -39px;
	}

	.cameras {
		background-position: -75px -39px;
	}
}
/* --- --- */

/* --- 425px and Above --- */
@media screen and (min-width: 425px) {

	#home-parallax {
		background-position: 0 -79px;
	}

	#camera {
		background-position: 0 -79px;
	}

}
/* --- --- */

/* --- 768px and Above --- */
@media screen and (min-width: 768px) {

	html {
		font-size: 14px;
	}

	.burger {
		display: none;
	}

	#logo {
		display: flex;
		justify-content: flex-start;

		margin-left: 4rem;
	}

	.topNavLinks { 
		display: flex;
	}

	#home-parallax {
		background-position: 0 43px;
		background-size: cover;
	}

	.cameras {
		background-position: 0 43px;
		background-size: cover;
	}

	.btn-container {
		display: flex;
		justify-content: center;
		height: 41.77px;
		margin: auto;
	}

	.btn {
		display: block;
		float: left;
		width: 10rem;

		margin: 0 1rem 0 0;
		padding: .6rem 0rem;

		font-size: 1.1rem;
	}

	.btn:last-child {
		margin-right: 0;
	}

	.portrait-about {
		grid-template-columns: repeat(2, 1fr);
	}

	.portrait-about img {
		width: 70%;
	}

	.portrait-about h2 {
		font-size: 2.5rem;
	}

	.portrait-about p {
		font-size: 1.1rem;
	}

	#about-para {
		margin: auto;
		padding: 10vh 8vw 10vh;
	}

	footer {
		padding: 2rem;
		font-size: 1.1rem;
	}

}
/* --- ---*/

/* --- 1024px and Above --- */
@media screen and (min-width: 1024px) {

	html {
		font-size: 15px;
	}

	#home-parallax {
		background-position: 0 -236px;
	}

	.cameras {
		background-position: 0 -236px;
	}

	.btn {
		width: 8rem;
	}

	.portrait-about img {
		width: 55%;
	}

}
/* --- --- */

/* --- 1440px and Above --- */
@media screen and (min-width: 1440px) {

	html {
		font-size: 18px;
	}

	#home-parallax {
		background-position: 0 -180px;
	}

	.cameras {
		background-position: 0 -180px;
	}

	.btn {
		width: 9rem;
		height: 1.5rem;
	}

	.portrait-about img {
		width: 45%;

		padding: 15vh 15vw;
	}

	#about-para {
		padding: 0 8vw 0;
	}

}
/* --- --- */

/* --- 2560px and Above --- */
@media screen and (min-width: 2560px) {

	html {
		font-size: 25px;
	}

	#home-parallax {
		background-position: 0 -576px;
	}

	.cameras {
		background-position: 0 -576px;
	}

	.btn {
		width: 8.5rem;
	}

	.portrait-about img {
		width: 35%;

		padding: 10vh 10vw;
	}

	#about-para {
		padding: 0 10vw 0;
	}

}
/* --- --- */
